.h5 {
    margin-block: 24px;
    font-size: 16px;
    font-weight: 200;
}

@media screen and (min-width: 481px) {
    .h5 {
        font-size: 20px;
    }
}

.link {
    text-decoration: none;
    font-style: italic;
    color: var(--color-teal);
    font-weight: 400;
}

.selector * {
    transition: all 0.3s ease;
}

.selector svg {
    height: 16px;
}

.selector input {
    visibility: hidden;
}

@media screen and (min-width: 481px) {
    .selectorDiv {
        max-width: 600px;
        margin-inline: auto;
    }
}

.selectorDiv hr {
    width: 60%;
    margin-block: 6px 10px;
    border-color: var(--color-white-sec);
}

.selectorContent {
    overflow-y: hidden;
    margin-inline: 20px;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (min-width: 481px) {
    .selectorContent {
        font-size: 16px;
        line-height: 20px;
    }
}

.iconDiv {
    display: flex;
    gap: 12px;
    margin-block: 16px;
}

.iconDiv img {
    width: 24px;
}

@media screen and (min-width: 481px) {
    .iconDiv {
        margin-block: 20px;
    }

    .iconDiv img {
        width: 32px;
    }
}

.btnDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width: 481px) {
    .btnDiv {
        flex-direction: row;
        width: fit-content;
    }
}

.btnDiv button {
    width: 130px;
    height: 35px;
    font-size: 16px;
    color: var(--color-teal);
    background-color: var(--color-background);
    border: 1px solid var(--color-teal);
    border-radius: 8px;
}