.section {
    background: linear-gradient(var(--color-background) 80%, #5B352833);
}

.h5 {
    margin-block: 40px;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

@media screen and (min-width: 481px) {
    .h5 {
        font-size: 20px;
    }
}

.link {
    text-decoration: none;
    font-style: italic;
    color: var(--color-purple-pri);
    font-weight: 400;
}

.selectorDiv {
    margin-inline: auto;
}

@media screen and (min-width: 481px) {
    .selectorDiv {
        max-width: 600px;
    }
}

.selector {
    margin-block: 12px;
}

.selector label {
    cursor: pointer;
}

.selector * {
    transition: all 0.3s ease;
}

.selector svg {
    height: 16px;
}

.selector input {
    visibility: hidden;
}

.selectorContent {
    overflow-y: hidden;
    margin-inline: 20px;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (min-width: 481px) {
    .selectorContent {
        font-size: 16px;
        line-height: 20px;
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 16px;
}

.iconDiv img {
    width: 24px;
}

@media screen and (min-width: 481px) {
    .iconDiv {
        margin-block: 20px;
    }

    .iconDiv img {
        width: 32px;
    }
}

.btnDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-block: 32px;
}

@media screen and (min-width: 481px) {
    .btnDiv {
        flex-direction: row;
        width: fit-content;
    }
}

.linkBtn {
    text-decoration: none;
}

.linkBtn button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: inherit;
    color: var(--color-white-pri);
    background-color: var(--color-background);
    border: 1px solid var(--color-purple-pri);
    border-radius: 50px;
}