.selector * {
    transition: all 0.3s ease;
}

.selector svg {
    height: 16px;
}

.selector input {
    visibility: hidden;
}

.selectorDiv hr {
    width: 60%;
    margin-block: 6px 10px;
    border-color: var(--color-white-sec);
}

.selectorContent {
    overflow-y: hidden;
    margin-inline: 20px;
    font-size: 12px;
    line-height: 16px;
}

.iconDiv {
    display: flex;
    gap: 12px;
    margin-block: 16px;
}

.iconDiv img {
    width: 24px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.btnDiv button {
    width: 130px;
    height: 35px;
    font-size: 16px;
    color: var(--color-teal);
    background-color: var(--color-background);
    border: 1px solid var(--color-teal);
    border-radius: 8px;
}