.iconDiv {
    padding: 8px;
    border: 1px solid var(--color-white-pri);
    border-radius: 8px;
}

@media screen and (min-width: 481px) {
    .iconDiv {
        width: 215px;
    }
}

.iconDiv h4 {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 769px) {
    .iconDiv h4 {
        font-size: 24px;
    }
}

.iconDiv img {
    width: 24px;
}

@media screen and (min-width: 481px) {
    .iconDiv img {
        width: 32px;
    }
}