.section {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center;
  background: var(--gradient-main);
  text-align: center;
}

.section::after {
  content: '';
  position: absolute;
  inset: 0 -25%;
  background: radial-gradient(100% 100% at top, var(--color-background) 65%, transparent);
  z-index: 1;
}

.section * {
  z-index: 2;
}

.h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -0.03em;
  background: linear-gradient(to right, #777, #D9D9D9, #777);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.h3 {
  font-size: 20px;
  font-weight: 200;
}

.h3 span {
  font-weight: 400;
  color: var(--color-purple-pri);
}