.section {
  background: var(--gradient-main);
  text-align: center;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0 -25%;
  background: radial-gradient(100% 100% at top, var(--color-background) 85%, transparent);
  z-index: 1;
}

.section * {
  z-index: 2;
}

.h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.1em;
  background: linear-gradient(to right, #777, #D9D9D9, #777);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.h3 {
  font-size: 16px;
  font-weight: 100;
}

.h3 span {
  font-weight: 400;
  color: var(--color-purple-pri);
}

@media screen and (min-width: 1024px) {
  .h1 {
    font-size: 100px;
  }

  .h3 {
    font-size: 20px;
  }
}

.heroBtn {
  position: relative;
  width: 300px;
  margin-top: 32px;
  padding: 16px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-white-pri);
  border: none;
  border-left: 1px solid var(--color-purple-sec);
  border-right: 1px solid var(--color-purple-sec);
  border-radius: 50px;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.heroBtn div {
  --gradient: linear-gradient(to bottom, transparent 10%, var(--color-purple-sec) 32%, var(--color-purple-pri), var(--color-purple-sec));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250%;
  background: var(--gradient);
  isolation: isolate;
  z-index: -1;
  transition: top 0.3s ease-in-out;
}

.heroBtn:is(:hover, :focus) {
  color: white;
}

.heroBtn:is(:hover, :focus) div {
  top: -150%;
}

.subhero {
  position: relative;
}

.subhero svg {
  position: absolute;
  top: 0;
  left: 0;
  isolation: isolate;
  z-index: -1;
  opacity: 0.25;
  filter: blur(5px);
}