.section {
  margin-inline: 1rem;
  margin-top: 53px;
  padding-block: 34px;
  padding-left: 8px;
  background-image: url('/hero-bg-mobile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 481px) {
  .section {
    margin-top: 38px;
    background-image: url('/hero-bg-tablet.png');
  }
}

.section h1 {
  font-size: 72px;
  line-height: 0.83em;
  margin-bottom: 3rem;
}

.section h2 {
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
}

@media screen and (min-width: 481px) {
  .section h1 {
    font-size: 100px;
  }

  .section h2 {
    font-size: 45px;
  }
}

@media screen and (min-width: 631px) {
  .section h1 {
    font-size: 130px;
  }

  .section h2 {
    font-size: 55px;
  }
}

.heroBtnDiv {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: fit-content;
  margin-inline: auto;
  margin-block: 4.5rem 1rem;
}

.heroBtn {
  color: var(--color-background);
  background-color: var(--color-teal);
  border: none;
}

.heroBtnVariant {
  color: var(--color-teal);
  background-color: #00000034;
  backdrop-filter: blur(8px);
  border: 2px solid var(--color-teal);
}