@media screen and (min-width: 481px) {
    .container {
        max-width: 600px;
        margin-inline: auto;
    }
}

.h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width: 481px) {
    .h3 {
        font-size: 24px;
    }
}

.paragraph {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 481px) {
    .paragraph {
        font-size: 16px;
        max-width: 500px;
        line-height: 20px;
        margin-inline: auto;
        margin-block: 20px;
    }
}

.link {
    font-style: italic;
    font-weight: 600;
    color: var(--color-purple-pri);
    text-decoration: none;
}

.form {
    display: grid;
    row-gap: 18px;
    margin-bottom: 2rem;
}

.form label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.form input,
.form textarea {
    font-size: 20px;
    color: var(--color-white-pri);
    background-color: #333333;
    border: none;
    border-radius: 0;
    margin-top: 4px;
    margin-left: -6px;
    padding-inline: 10px;
    z-index: -10;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: var(--color-white-ter);
}

.form input {
    height: 32px;
}

.inputUnderline {
    position: absolute;
    content: '';
    left: 6px;
    right: 6px;
    bottom: 3px;
    height: 1px;
    background: #AAAAAA;
    z-index: -9;
}

.form textarea {
    font-family: inherit;
    padding-block: 6px;
}

.formBtn {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 16px;
    justify-self: center;
    margin-top: 16px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white-pri);
    background: var(--gradient-btn);
    border: none;
    border-radius: 100px;
}

.formBtn div {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.276);
}