.section {
    background: linear-gradient(var(--color-background) 80%, #5c066433);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 481px) {
    .container {
        max-width: 600px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 72px;
        max-width: 1000px;
    }
}

.h3 {
    font-weight: 200;
    text-align: center;
    margin-bottom: 32px;
}

@media screen and (min-width: 481px) {
    .h3 {
        font-size: 20px;
    }
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 481px) {
    .paragraph {
        font-size: 16px;
        max-width: 500px;
        line-height: 20px;
        margin-inline: auto;
        margin-block: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .paragraph {
        max-width: 40ch;
    }

    .paragraph:first-of-type {
        margin-top: 40px;
    }
}

.link {
    font-style: italic;
    font-weight: 600;
    color: var(--color-purple-pri);
    text-decoration: none;
}

.form {
    display: grid;
    row-gap: 18px;
    margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    .form {
        width: 60%;
    }
}

.form label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.form input,
.form textarea {
    font-size: 20px;
    color: var(--color-white-pri);
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: -6px;
    padding-inline: 10px;
}

.form input:hover,
.form textarea:hover {
    border-color: var(--color-purple-sec);
}

.form input:focus,
.form textarea:focus {
    outline: none;
    background-color: var(--color-purple-ter);
    border-color: var(--color-purple-sec);
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: #777;
}

.form input {
    height: 42px;
}

.form textarea {
    font-family: inherit;
    padding-block: 6px;
}

@media screen and (min-width: 1024px) {
    .form input,
    .form input::placeholder,
    .form textarea,
    .form textarea::placeholder {
        font-size: 16px;
    }

    .form input {
        height: 36px;
    }

    .form textarea {
        height: 100px;
    }
}

.formBtn {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 16px;
    justify-self: center;
    margin-top: 16px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white-pri);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .formBtn {
        justify-self: start;
        padding: 6px 16px;
        font-size: 16px;
        width: 125px;
    }
}

.formBtn div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 200%;
    background: linear-gradient(to right, transparent, #ffffff4d, transparent);
    animation: pending 1s ease-in-out infinite alternate;
}

@keyframes pending {
    from {
        left: -100%;
    } to {
        left: 100%;
    }
}