.section {
    padding-block: 60px;
}

.h2 {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.h2::after {
    position: absolute;
    content: '';
    bottom: 0.3em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, transparent 10%, #0B3C47 20%, #5A3529, #410446 80%, transparent 90%);
    isolation: isolate;
    z-index: -1;
}

.leadingText {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.leadingText span {
    font-weight: 400;
}

.mainText {
    margin-block: 42px;
    margin-inline: auto;
    line-height: 20px;
}

.mainText p:first-child {
    margin-bottom: 16px;
}

.technologies {
    width: min-content;
    margin-inline: auto;
}

.iconGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-top: 20px;
}

.iconGrid img {
    width: 42px;
}

@media screen and (min-width: 481px) {
    .iconGrid {
        width: fit-content;
    }
}