.leadingText {
    font-size: 24px;
    font-weight: 300;
}

.leadingText span {
    font-weight: 400;
}

.mainText {
    margin-block: 42px;
    line-height: 20px;
}

.mainText p:first-child {
    margin-bottom: 16px;
}

.iconGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}