.header {
    position: fixed;
    top: 0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color-background-faded);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}

.header > svg {
    height: 30px;
}

@media screen and (min-width: 481px) {
    .header {
        padding-right: 0;
        height: fit-content;
    }
}

.burgerBtn {
    height: 20px;
    width: 27px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

@media screen and (min-width: 481px) {
    .burgerBtn {
        display: none;
    }
}

.burgerDiv,
.burgerDiv::before,
.burgerDiv::after {
    height: 2px;
    background: var(--color-white-pri);
}

.burgerDiv {
    position: relative;
    width: 27px;
    transition: all 0.3s ease-in-out;
}

.burgerDiv::before,
.burgerDiv::after {
    position: absolute;
    content: '';
    width: 20px;
    transition: all 0.3s ease-in-out;
}

.burgerDiv::before {
    left: 0;
    top: -8px;
    transform-origin: right;
}

.burgerDiv::after {
    right: 0;
    top: 8px;
    transform-origin: left;
}

.header:has(.menu[aria-expanded="true"]) .burgerDiv {
    rotate: 45deg;
}

.header:has(.menu[aria-expanded="true"]) .burgerDiv::before {
    rotate: 90deg;
    top: 6px;
    left: -7px;
}

.header:has(.menu[aria-expanded="true"]) .burgerDiv::after {
    rotate: 90deg;
    top: -6px;
    right: -6px;
}

.menu {
    position: fixed;
    top: 0;
    right: -262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
    padding-inline: 48px;
    padding-top: 120px;
    background: var(--color-background);
    transition: right 0.2s ease-in-out;
}

.menu[aria-expanded="true"] {
    right: 0
}

@media screen and (min-width: 481px) {
    .menu {
        position: unset;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        padding-block: 10px 4px;
        padding-inline: 10px;
        border-bottom: 1px solid var(--color-white-sec);
    }
}

.navLink {
    text-decoration: none;
    font-size: 24px;
    color: var(--color-white-pri);
}

.navLink button {
    padding: 8px 16px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background: var(--gradient-btn);
    border: none;
    border-radius: 50px;
}

@media screen and (min-width: 481px) {
    .navLink {
        font-size: 20px;
    }
}