.header {
    position: sticky;
    top: 0;
    right: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    width: 100%;
    background: var(--color-background);
    z-index: 10;
}

@media screen and (min-width: 481px) {
    .header {
        padding-right: 0;
        height: fit-content;
    }
}

.iconDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

@media screen and (min-width: 481px) {
    .iconDiv {
        margin-top: 0;
        gap: 8px;
    }
}

.icon {
    height: 54px;
    fill: var(--color-white-sec);
}

@media screen and (min-width: 481px) {
    .icon {
        height: 20px;
    }
}

.burgerBtn {
    height: 20px;
    width: 27px;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 481px) {
    .burgerBtn {
        display: none;
    }
}

.burgerDiv,
.burgerDiv::before,
.burgerDiv::after {
    height: 2px;
    background: var(--color-white-pri);
}

.burgerDiv {
    position: relative;
    width: 27px;
}

.burgerDiv::before,
.burgerDiv::after {
    position: absolute;
    content: '';
    width: 20px;
}

.burgerDiv::before {
    left: 0;
    top: -7px;
}

.burgerDiv::after {
    right: 0;
    top: 7px;
}

.menu {
    position: fixed;
    top: 53px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 53px);
    padding: 2rem 3rem;
    background: var(--color-background);
    transition: right 0.2s ease-in-out;
}

@media screen and (min-width: 481px) {
    .menu {
        position: unset;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        padding-block: 10px 4px;
        padding-inline: 10px;
        border-bottom: 1px solid var(--color-white-sec);
    }
}