.section {
    margin-top: 2rem;
    padding: 1rem;
    scroll-margin-top: 53px;
}

.headerDiv {
    display: flex;
    align-items: flex-end;
    width: 85%;
    margin-inline: auto 0;
    margin-bottom: 2rem;
}

.headerDiv div {
    height: 2px;
    flex-grow: 1;
    background: var(--color-teal);
    margin-bottom: 4.5px;
    margin-right: -2px;
}

.headerDiv h3 {
    font-size: 20px;
    font-style: italic;
    letter-spacing: -1px;
    color: var(--color-teal);
    text-align: right;
}

@media screen and (min-width: 481px) {
    .headerDiv div {
        margin-bottom: 8px;
    }

    .headerDiv h3 {
        font-size: 32px;
    }
}