.footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon_span {
    display: none;
}

@media screen and (min-width: 481px) {
    .icon_span {
        display: flex;
        gap: 1rem;
    }
}

.icon_span svg {
    height: 24px;
    fill: var(--color-text-ter);
}