#root {
  position: relative;
  overflow: hidden;
}

section {
  min-height: 100vh;
  min-height: 100dvh;
}

section:not(:first-of-type) {
  padding-inline: 16px;
  padding-block: 78px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 50px;
}