@import url(https://fonts.googleapis.com/css?family=Anybody:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-pri: #CBCBCB;
  --color-white-sec: #888888;
  --color-white-ter: #555555;
  --color-teal: #83F1F1;
  --color-background: #121212;
}

html {
  color: var(--color-white-pri);
  background-color: var(--color-background);
  font-family: 'Anybody';
  scroll-behavior: smooth;
}