@import url(https://fonts.googleapis.com/css?family=Prompt:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-pri: #CBCBCB;
  --color-white-sec: #AAAAAA;
  --color-white-ter: #888888;
  --color-purple-pri: #8D6EE7;
  --color-purple-sec: #6A42DC;
  --color-teal-gradient: #055567;
  --color-orange-gradient: #5B3528;
  --color-purple-gradient: #490050;
  --gradient-btn: linear-gradient(to bottom, var(--color-purple-pri), var(--color-purple-sec));
  --gradient-main: linear-gradient(120deg, var(--color-teal-gradient) 30%, var(--color-orange-gradient), var(--color-purple-gradient));
  --color-background: #121212;
  --color-background-faded: #12121233;
}

html {
  color: var(--color-white-pri);
  background-color: var(--color-background);
  font-family: 'Prompt', 'Arial', 'sans-serif';
  scroll-behavior: smooth;
}